<!--<configuration>-->
<!--    <appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>tmp/synapse-link.log</file>-->
<!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder">-->
<!--            <customFields>-->
<!--                {-->
<!--                "service":"arcane-stream-runner",-->
<!--                "ddsource":"java",-->
<!--                "host":"${HOSTNAME}"-->
<!--                }-->
<!--            </customFields>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    <root level="INFO">-->
<!--        <appender-ref ref="FILE" />-->
<!--    </root>-->
<!--</configuration>-->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <Pattern>%d [%thread] %-5level  %logger{35} - %msg%n</Pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
